/* styles/modules/hero.module.css */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/hero.svg');
    height: 39rem;
    max-width: 100rem;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;

    .hero_text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .hero {
        height: 70vh;
        max-width: 100%;
    }
}

/* Medium devices (large-phones, between 375px and 425px screenWidths) */
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .hero {
        height: 30rem;
        max-width: 100%;
    }
}

/* Medium devices (Tablets, between 425px and 768px screenWidths) */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .hero {
        height: 30rem;
        max-width: 100%;
    }
}

/* Medium devices (Tablets, between 768px and 992px screenWidths) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero {
        height: 70vh;
        max-width: 100%;
    }
}