/* styles/modules/navbar.module.css */
.sghi_nav {
    background-color: #f4f4f4 !important;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    .logo {
        width: 200px;
    }

    .items{
        font-size: 12px;
        padding: 0 2rem;
    }

    .active{
        color: blue !important;
    }

    .search {
        .search_box{
            width: 200px;
            height: 40px;
            position: relative;
            overflow: hidden;
            input{
                width: 100%;
                height: 100%;
                background-color: white;
                border: none;
                border-radius: 2rem;
                padding: 0 2rem;
                outline: none;
            }
            .search_icon{
                position: absolute;
                z-index: 200;
                right: 2rem;
                top: 10px;
            }
        }
    }
}