/* styles/modules/navbar.module.css */
.sghi_nav {
    background-color: #f4f4f4 !important;
    width: 100%;
    height: 70px;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -10px;

    .sghi_nav_padding {
        padding: 0px 0px;
    }

    .logo {
        width: 200px;
    }
    .menu {
        justify-content: space-between;
    }
    .menu_items {
        padding-left: 20px;
    }
    .menu_button {
        display: none;
    }
    .search {
        max-width: 40px;
    }
}
