@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 0px;
}

.image,
.title,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_image {
    padding: 2rem;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10vw;
}

.title {
    color: #c2368c;
    font-size: 30px;
}

.title, .content{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 2rem;
}

.content {
    font-size: 16px;
    width: clamp(100px 1fr 150px);
}
