.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    align-items: center;
    justify-content: center;
}

.name,
.image,
.title,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_image {
    padding: 2rem;
}

.title{
    color: #c2368c;
    font-size: 30px;
}

.content {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: clamp(100px 1fr 150px);
}
