.banner {
    background-color: #c2368c;
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.team_modal_card {
    width: auto;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.join_us_title {
    font-size: 25px;
    color: #c2368c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.join_sub {
    display: grid;
    justify-content: center;
    align-items: center;
}

.join_us_subtitle {
    font-size: 16px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: calc(100vw / 2);
}
