.why {
    padding-top: 2rem;

    .why_content {
        padding-top: 5rem;
    }

    .why_title {
        font-size: 40px;
        color: purple;

        .why_title_second {
            font-weight: bold;
        }
    }

    .why_sub {
        font-size: 14px;
    }
}
