.work {
    padding-top: 5rem;

    .work_title {
        font-size: 40px;
        color: #c2368c;

        .work_title_second {
            font-weight: bold;
        }
    }

    .work_subtitle {
        font-size: 14px;
        color: #0f73aa;
    }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    .work {
        padding-top: 10rem;

        .work_title {
            text-align: center;
            font-size: 25px;
            position: relative;
            top: -9rem;
        }

        .work_subtitle {
            position: relative;
            top: -9rem;
            text-align: center;
        }

        .read_more_btn {
            position: relative;
            top: -8rem;
            text-align: center;
        }

        .map_graphic {
            display: none !important;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .work {
        padding-top: 13rem;
    }
}

/* Small devices (phones, between 320px and 375px screenWidths) */
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .work {
        position: relative !important;

        .work_title {
            position: relative;
            text-align: center;
            font-size: 30px;
            top: -10rem !important;
            left: 1rem;
        }

        .work_subtitle {
            position: relative;
            top: -9rem;
            text-align: center;
            left: 1rem;
        }

        .read_more_btn {
            position: relative;
            top: -8rem;
            text-align: center;
            left: 1rem;
        }

        .map_graphic {
            display: none;
        }
    }
}

/* Medium devices (large-phones, between 375px and 425px screenWidths) */
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .work {
        .work_title {
            position: relative;
            text-align: center;
            font-size: 30px;
            left: -0rem;
        }

        .work_subtitle {
            position: relative;
            top: -8rem;
            text-align: center;
            left: 10px;
            width: 250px;
        }

        .read_more_btn {
            position: relative;
            top: -5rem;
            text-align: center;
            left: 0px;
        }

        .map_graphic {
            display: none;
        }
    }
}

@media only screen and (min-width: 412px) and (max-width: 424px) {
    .work {
        .work_title {
            position: relative;
            text-align: center;
            top: -8rem;
        }

        .work_subtitle {
            position: relative;
            top: -7rem;
            text-align: center;
            left: 40px;
            min-width: 200px;
        }
    }
}

@media only screen and (min-width: 425px) and (max-width: 480px) {
    .work_title {
        position: relative;
        left: -4rem !important;
    }

    .work_subtitle {
        position: relative;
        left: 20px !important;
    }
}

/* Medium devices (Tablets, between 425px and 768px screenWidths) */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .work {
        position: relative;
        top: 5rem;

        .work_title {
            min-width: 500px;
            position: relative;
            top: -7rem;
            left: -6rem;
        }

        .work_subtitle {
            position: relative;
            top: -7rem;
            text-align: center;
            left: 60px;
            min-width: 200px;
        }

        .read_more_btn {
            position: relative;
            top: -6rem;
            text-align: center;
            left: 1rem;
        }

        .map_graphic {
            position: relative;
            right: -1rem;
            top: -6rem;
            text-align: center;
            min-width: 20rem;
        }
    }
}

/* Medium devices (Tablets, between 768px and 992px screenWidths) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .work {
        position: relative;
        top: 5rem;

        .work_title {
            min-width: 500px;
            position: relative;
            top: -7rem;
            left: 2rem;
        }

        .work_subtitle {
            position: relative;
            top: -7rem;
            text-align: center;
            left: 20px;
            min-width: 200px;
        }

        .read_more_btn {
            position: relative;
            top: -6rem;
            text-align: center;
            left: 1rem;
        }

        .map_graphic {
            position: relative;
            right: -1rem;
            top: -6rem;
            text-align: center;
            min-width: 20rem;
        }
    }
}
