@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
    height: auto;
}

.sghi_container {
    margin: 0 auto;
    max-width: 1440px;
}

.primary-color {
    color: #c2368c;
}

.btn-secondary {
    background-color: #c2368c;
    color: white;
}

.btn-secondary:hover {
    background-color: #c2368c;
}

.search-bar {
    width: 200px;
    position: relative;
    right: 2rem;
    border-radius: 50px !important;
}

.round {
    border-radius: 50px;
}

.active {
    color: blue !important;
}

.form-control:focus {
    border-color: #c2368c !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px #c2368c !important;
}

.error_message {
    color: red;
    font-size: 12px;
}

.menu-links {
    text-align: center;
}

.sghi_marker {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: relative;
    right: 6rem;
}

.hero_title {
    padding-top: 5rem;
    font-size: 70px;
    font-weight: 700;
    color: #f28222;
    width: 900px;
}

.hero_subtitle {
    font-size: 18px;
    font-weight: 500;
    width: 480px;
    text-align: center;
    margin-left: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero_cta {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0px;
    padding: 2px 5px;
    border-radius: 100px;
    height: 40px;
    width: 180px;
}

.sghi-card {
    width: 350px;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 12px;
}

.page-title {
    font-size: 40px;
    color: #c2368c;

    .page-title-second {
        font-weight: bold;
    }
}

.team-subtitle {
    text-align: center;
    width: 800px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10%;
}

.team-name {
    font-weight: bold;
}

.pagination {
    align-items: center;
    justify-content: center;
}

.iframe_size {
    width: 100rem !important;
    height: 30rem;
    border-radius: 5px;
    padding-top: 3rem;
    padding: 0px 0px;
    margin-bottom: 10rem !important;
}

.contact-submit-btn {
    text-align: center;
}

.marker-btn {
    background-color: rgba(194, 54, 140, 0.5);
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    border-radius: 30px;
}

.marker_popup {
    border-radius: 10px !important;
    max-width: 250px;

    .country-flag {
        width: 100%;
        height: 100%;
    }

    .country-name {
        font-size: 14px;
        font-weight: bold;
    }

    .divider {
        position: relative;
        top: 5px;
        left: 10px;
    }

    .project-title {
        color: #0f73aa;
        font-weight: bold;
    }

    .project-subtitle {
        color: #777;
        font-weight: bold;
    }

    .project-screens {
        color: #0f73aa;
        font-size: 15px;
        font-weight: bold;
    }

    .patients {
        color: #0f73aa;
    }

    .project-sub{
        font-size: 13px;
    }
}

/* Extra small devices (phones, 320 and down screenWidths) */
@media only screen and (max-width: 320px) {
    html,
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 500 !important;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
        display: block;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .navbar-brand {
        width: 200px;
        height: 100px;
    }

    .search-bar {
        width: 200px;
        margin-left: -40rem;
        border-radius: 50px !important;
    }
    .hero_title {
        padding-top: 5rem;
        font-size: 40px;
        width: 900px;
    }
    .hero_subtitle {
        font-size: 18px;
        font-weight: 500;
        width: 270px;
        text-align: center;
        position: relative;
        right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .hero_cta {
        font-size: 14px;
        padding: 2px 5px;
    }

    .page-title {
        font-size: 25px;
        color: #c2368c;

        .page-title-second {
            font-weight: bold;
        }
    }

    .sghi-card {
        min-width: 250px;
        position: relative;
        right: 30px;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }
}

/* Small devices (phones, between 320px and 375px screenWidths) */
@media only screen and (min-width: 320px) and (max-width: 375px) {
    html,
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 500 !important;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
        display: block;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .search-bar {
        width: 200px;
        margin-left: 80px;
        border-radius: 50px !important;
    }
    .hero_title {
        padding-top: 5rem;
        font-size: 40px;
        width: 900px;
    }
    .hero_subtitle {
        font-size: 18px;
        font-weight: 500;
        width: 270px;
        text-align: center;
        margin-left: 50px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .hero_cta {
        font-size: 14px;
        padding: 2px 5px;
    }
}

/* Medium devices (large-phones, between 375px and 425px screenWidths) */
@media only screen and (min-width: 375px) and (max-width: 425px) {
    html,
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 500 !important;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
        display: block;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .search-bar {
        width: 200px;
        margin-left: 8rem;
        border-radius: 50px !important;
    }
    .hero_title {
        padding-top: 1rem;
        font-size: 35px;
        width: 300px;
        position: relative;
    }
    .hero_subtitle {
        font-size: 16px;
        font-weight: 500;
        width: 270px;
        text-align: center;
        margin-left: 50px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;
        right: 20px;
    }

    .hero_cta {
        font-size: 14px;
        padding: 1px 5px;
        position: relative;
    }
}

/* Medium devices (Tablets, between 425px and 768px screenWidths) */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    html,
    body {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 500 !important;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .search-bar {
        width: 200px;
        margin-left: 80px;
        border-radius: 10rem !important;
    }

    .search-bar {
        position: relative;
        left: 12rem;
        width: 200px;
        border-radius: 90px !important;
    }
    .hero_title {
        padding-top: 1rem;
        font-size: 30px;
        width: 700px;
        position: relative;
        left: 25px;
    }
    .hero_subtitle {
        font-size: 18px;
        font-weight: 500;
        width: 270px;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;
        justify-content: center;
        left: 25px;
    }

    .hero_cta {
        font-size: 14px;
        padding: 2px 5px;
        position: relative;
        left: 0px;
    }

    .first-illustration {
        position: relative;
        left: -10rem;
    }

    .second-illustration {
        position: relative;
        right: -5rem;
    }

    .third-illustration {
        position: relative;
        left: -10rem;
        top: 5rem;
    }

    .fourth-illustration {
        position: relative;
        right: -5rem;
        top: 5rem;
    }
}

/* Large devices (Desktops, Laptops between 1366px and 1440px screenWidths) */
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .set_gutters {
        padding: 0px 7rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .search-bar-item {
        display: none !important;
    }
}
/* Large devices (Desktops, Laptops above 1440px screenWidths) */
@media only screen and (min-width: 1440px) {
    .set_gutters {
        max-width: 80rem;
    }
}
